* {
    color: rgba(37, 26, 25, 0.938);
       
}
body{
    background-color: green;
}
.leftColumn {
    height: 175px;
    width: 222px;
    /* background-color: green; */
    border-style: solid;
    border-width: 10px;
        
        }
.leftColumn h2{

    border-style: solid;
    font-family: 'verdana', Times, sans-serif;
    left: 0px;
    font-size: 25px;


}
.topTen{
    height: 400px;
    width: 450px;
    /* background-color: green; */
    border-width:  5px;
    margin: 0px;
        }
.topTen ul {
            border-width:  0px;
            margin: 0px;
        }

.topTen ol {
            border-width:  0px;
            margin: 0px;
        }



#firstLine {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    font-family: 'verdana', Times, sans-serif;
    left: 0px;
    font-size: 45px;
}
.nameAndContact p{
    border-width: 1px 1px 1px 1px;

    font-family: 'verdana', Times, sans-serif;
    left: 0px;
    font-size: 18px;

}
.nameAndContact p1{
    font-size: 25px;
}
.nameAndContact h1{

    padding: 0px;
}
#Activities{
    font-family: 'verdana', Times, sans-serif;
    left: 0px;
    font-size: 25px;
}
nav {
    border-style: solid;
    border-width: 10px;
    border-color: brown
}