* {
    color: rgba(37, 26, 25, 0.938);
       
}
img{
    position: relative right;

}
body{
    background-color: rgb(255, 255, 255);
    background-image: url("../img/circuitry.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    /* filter: alpha(opacity=50); For IE8 and earlier */
}
.leftColumn {
    font-family: 'verdana', Times, sans-serif;
    font-size: 25px; /*font for everything on the left*/
    color: #000;
    font-weight: 900;
    /* border-style: solid;
    border-width: 10px; */
    height: auto;
    width: 200px;
    background-color: rgb(232, 236, 251);
    padding-left: 10px;
 }

 .leftColumn h1{
     font-family: 'verdana', Times, sans-serif;
    font-size: 25px; 
    color: #000;
    font-weight: 900; 
    padding-left: 10px;
    
    background-color: rgb(232, 236, 251);
    
}   

 .middle{
    
    font-family: 'verdana', Times, sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 900;
    border-top: 10px;
    border-style: solid;
    
    height: auto; 
    background-color: rgb(232, 236, 251);
    padding: 10px;

} 
#contactInfo{
    font-family: 'verdana', Times, sans-serif;
    font-size: 25px;
    color: #000;
    font-weight: 900;
    /* border-top: 10px;
    border-style: solid; */
    padding: 0px;
    height: auto; 
    background-color: rgb(232, 236, 251);
    /* padding: 10px; */
}
.topTen{
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    height: auto;
    width: auto;
    /* background-color: green; */
     /* border-style: solid;
    border-width:  5px;  */

    background-color: rgb(232, 236, 251);
        }
        
.topTen ul {
    
            border-width:  0px;
            margin: 0px;
            background-color: rgb(232, 236, 251);
            height: auto;
            width: auto;
        }

.topTen ol {
            border-width:  0px;
            margin: 0px;
            background-color: rgb(232, 236, 251);
            height: auto;
    width: auto;
        }
.topTen li, p{
    font-family: 'verdana', Times, sans-serif;
    font-size: 25px;
    color: #000;
    font-weight: 900;
    width: auto;
    padding-left: 10px;
}
#contactInfo p{
    font-family: 'verdana', Times, sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 900;

}

#middleHead{
    font-family: 'verdana', Times, sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 900;

    background-color: rgb(232, 236, 251);
    
}
 #awards{
    font-family: 'verdana', Times, sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 900;
    /* border-bottom: 10px; */
    border-top: 10px; 
    border-style: solid; 
    background-color: rgb(232, 236, 251);

    
} 